* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.jpeg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 66px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 2000px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 10px;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
}

.memory-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.memory-card {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  perspective: 1000px;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  background-color: rgb(255, 44, 157);
}

.back-face {
  background-color: rgb(255, 255, 255);
}

.playAgainButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.playAgainButton:hover {
  background-color: rgb(15, 213, 253);
  transform: scale(1.05);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup.show {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
